.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style  */
.btn {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-family: raleway;
    font-weight: bold;
}

.btn:hover {
    background-color: greenyellow;
    transition: 1s;
    color: tomato;
}

.sameFonts {
    font-family: raleway;
    font-weight: bold;
    color: #252432;
}

/* header part starts here */
header {
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(78, 71, 255, 0.01)), url("Assets/Hero-bg.png");
    text-align: center;
}

/* nav part starts here  */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
}

.navBar img {
    width: 150px;

}

/* banner starts here */
.banner {
    width: 900px;
    height: 230px;
    margin: 158px auto;
}

.banner-title {
    font-size: 65px;
}

.banner button {
    margin-top: 40px;
}

