.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(78, 71, 255, 0.01);
}

/* shared style  */
.btn {
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-family: raleway;
    font-weight: bold;
}

.btn:hover {
    background-color: greenyellow;
    transition: 1s;
    color: tomato;
}

.sameFonts {
    font-family: raleway;
    font-weight: bold;
    color: #252432;
}

/* header part starts here */
header {
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(78, 71, 255, 0.01)), url("Assets/Hero-bg.png");
    text-align: center;
}

/* nav part starts here  */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
}

.navBar img {
    width: 150px;

}

/* banner starts here */
.banner {
    width: 900px;
    height: 230px;
    margin: 158px auto;
}

.banner-title {
    font-size: 65px;
}

.banner button {
    margin-top: 40px;
}

section {
    margin: 116px 150px;
}

/* action-section starts here */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-text {
    width: 480px;
    height: 203px;
}

.title {
    font-size: 42px;
    margin-bottom: 20px;

}

.subtitle {
    font-family: raleway;
    font-size: 24px;
    color: rgba(41, 36, 50, 50%);
    margin-bottom: 20px;
}

.action img {
    border-radius: 48px;
}

/* productive section starts here */
.productive-user {
    height: 300px;
    background-color: rgba(78, 71, 255, 10%);
    border-radius: 24px;
    text-align: center;
    padding: 50px;
}

.productive-title {
    font-size: 38px;
    margin-top: 40px;
}

.text-title {
    margin-bottom: 50px;
}

.numbers {
    width: 750px;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;

}

.num {
    font-family: "Inter";
    font-weight: bold;
    color: #4E47FF;
    font-size: 80px;

}

.sub {
    font-family: "Inter";
    font-size: 20px;
    color: rgba(0, 0, 0, 50%);
    text-align: center;
}

/* review section starts here */
.reviews {
    text-align: center;
}

.all-reviews {
    display: flex;
    margin: 50px;
    justify-content: space-between
}

.review {
    text-align: left;
    width: 300px;
    height: 260px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
}

.rating {
    padding: 15px 24px;
}

.review-text {
    padding: 0px 24px;
    font-family: "Raleway";

}

.review-text p {
    margin: 20px 0px;
}

.reviwer-details {
    display: flex;
    gap: 15px;
}

.reviwer-details img {
    border-radius: 50%;
    padding: 0 24px;
}

/* newsletter starts here */
.newsLetter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsLetter h2 {
    width: 520px;
    font-size: 97px;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    font-family: 'inter';
}

input[type="email"],
input[type="text"] {
    height: 70px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 0 20px;


}

textarea {
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-family: 'inter';
}